.sect6 { text-align: center;
   padding: 150px ;
   background-color: #F2F7F8;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

h1{font-size: 48px;
   line-height: 64px;
   font-weight: 700;
   color: #122231;

}

p {font-size: 24px;
   line-height: 33px;
   font-weight: 400;
   width: 33em;
   margin: 0 auto;
   padding-bottom: 50px;
}

}

.sect6 video {max-width:740px;
   height: 450px;
border-radius: 25px;
border: 10px solid white;
object-fit: cover;}
