.sect7 { display: flex;
gap: 50px;
align-items: center;
justify-content: center;
background-color: #F2F7F8;
padding-bottom: 150px;
flex-wrap: wrap-reverse;


h1 { padding-bottom: 35px;
   font-size: 33px;
   line-height :41px; 
   font-weight:400 ;
width: 480px;
}
}

.sect7img img{ max-width: 27em;
height: auto;}

.btn3 img { max-width: 20px;
height: auto;}


.sect7btn  { display: flex;
gap: 15px;}

.btn3 { padding: 12px;
   border: 1px solid black;
   border-radius: 15px;
   display: flex;
   align-items: center;
   gap: 5px;
   transition: all 350ms
}

.btn3:hover { 
   transform: translatey(-5px );}
